@page
@using Microsoft.Extensions.Localization
@using Conch.Expand.Localization
@using Conch.Expand.Web.Pages.Expand
@model Conch.Expand.Web.Pages.Expand.IndexModel
@inject IStringLocalizer<ExpandResource> L

@{
}
<h1>Expand</h1>
<p>@L["SamplePageMessage"]</p>
